version: '3.8'

services:
  app:
    build: .
    ports:
      - "8090:8080"
    environment:
      - DB_HOST=postgres
      - DB_USER=postgres
      - DB_PASSWORD=postgres
      - DB_NAME=rbac
      - DB_PORT=5432
      - QUEUE_PROVIDER=RABBITMQ
      - RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/
      - RABBITMQ_MAX_CONNECTIONS=1
      - RABBITMQ_MAX_CHANNELS_PER_CONN=10
    depends_on:
      - postgres
      - rabbitmq
    networks:
      - rbac-net

  postgres:
    image: postgres:15-alpine
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=rbac
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - rbac-net

  rabbitmq:
    image: rabbitmq:3-management-alpine
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      - RABBITMQ_DEFAULT_USER=guest
      - RABBITMQ_DEFAULT_PASS=guest
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    networks:
      - rbac-net

networks:
  rbac-net:
    driver: bridge

volumes:
  postgres_data:
  rabbitmq_data:
